:root {
  --bs-gutter-x: 0.6rem;
  --bs-gutter-y: 0;
}

/* ******************************COMPONENT HERO IMAGE CANVAS ******************************* */
.canvas {
    padding:0;
    margin:0;
}

#canvas{
    background:#501464;
  }

  .margin-none{
    margin: 0;
  }

  .container > h1 {
      position: absolute;
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      color: #fff;
      text-align: center;
      letter-spacing: 1vw;
      text-shadow: 0px 11px 28px 0px rgba(6, 6, 6, 0.634);
  }

  /* ******************************COMPONENT CONTAINER SINGLE POST ******************************* */
  .container-single-note {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 3.75rem;
    padding-top: 7.5rem;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
    color: #17161A;
    justify-content: center;
  }

  .container-single-note > hr {
    width: 100%;
    max-width: 45rem;
    background-color: transparent;
    border-top: 0.16rem solid #B1B1B4;
    opacity: 0.3;
    margin-top: 0;
    margin-bottom: 1.563rem;
  }

  .set-dot {
    display: inline-block;
    width: 3px;
    height: 3px;
    margin: 0 14px;
    vertical-align: middle;
    background-color: currentColor;
    border-radius: 50%;
  }

  .subtitle-single-note {
    font-size: 1rem;
    color: #4B4A4D!important;
    margin-bottom: 0.938rem;
  }

  .col-single-note-title > h1 {
    font-size: 2.5rem;
    padding-right: 1.875rem;
  }

  .col-single-note-title > h4 {
    margin-bottom: 2rem;
    font-size: 1.375rem;
    line-height: 1.5;
  }

  .social-note-container {
    padding-bottom: 3.75rem;
    margin-right: calc(-0.5 * var(--bs-gutter-x));
    margin-left: calc(-0.5 * var(--bs-gutter-x));
  }

  .padding-sides {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media screen and (min-width: 768px) {
    .container-single-note {
      padding-left: 10rem;
      padding-right: 10rem;
    }
  }

  @media screen and (min-width: 1024px) {
    .container-single-note {
      padding-left: 15rem;
      padding-right: 15rem;
    }

    .padding-sides-lg {
      padding-left: 15rem;
      padding-right: 15rem;
    }
  }

  /* ******************************COMPONENT HERO IMAGE SINGLE POST ******************************* */

  .hero-notes {
    background-image: url('../img/notes-1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: reverse;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
  }

   /* ****************************** COMPONENT FILTER NAV NOTES ******************************* */
   
   .nav {
     list-style: none;
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     margin-bottom: 3.75rem;
     padding: 0;
     /* font-size: 0.875rem; */
   }

   .nav-item a {
      text-decoration: none;
      font-weight: bold;
      color: #858589;
      padding: 0.575rem 1.125rem;
   }

   .nav-item a:hover {
    color: #17161A;
   }

   ul li.nav-item.active {
    border-radius: 3.125rem;
    background-color: #e9ecef;
   }

  /* ****************************** COMPONENT NOTES ******************************* */
  .portfolio-big > div {
    background-color: #e9ecef;
    border-radius: 1.25rem;
    padding: 0.6rem;
    margin-bottom: 2rem;
  }

  .portfolio-big > div:hover {
    background-color:#dee2e6;
  }

  .card-link {
    margin-top: 2.5rem;
    margin-bottom: 2.25rem;
  }

  .card-text {
    padding-top: 1rem;
    padding-bottom: 1.25rem;
    line-height: 1.4;
    color: #212529;
  }

  .card-text-title {
      margin-top: 1.188rem;
      margin-bottom: 2.188rem;
      font-weight: 700;
      text-transform: capitalize;
      font-size: 1.875rem;      
  }

  .load-more {
    color:#17161A;
    text-decoration: none;
    background-color: rgba(177, 177, 180, 0.3);
    border-radius: 50rem;
    padding: 0.938rem 2.5rem;
    font-weight: bold;
    transition: all 150ms linear;
    margin-bottom: 2rem;
  }

  .load-more:hover, .load-more:active {
    color: #293d4e;
    background-color: #F5F5F7;
    opacity: 1;
    box-shadow: 0px 11px 28px 0px rgba(6, 6, 6, 0.634);;
  }

  .portfolio-main-container {
    overflow: hidden;
    border-radius: 1.25rem;
  }

  .portfolio-main-container span {
      position: absolute;
      color: white;
      z-index: 1;
      font-size: 0.9rem;
      text-transform: uppercase;
      margin-top: 1.1rem;
      margin-left: 1.1rem;
      background-color: #17161A;
      padding-top: 0.375rem;
      padding-bottom: 0.375rem;
      padding-left: 0.563rem;
      padding-right: 0.563rem;
      border-radius: 1.25rem;
  }

  .portfolio-main:hover {
    opacity: 1;
  }

  a.portfolio-main {
    text-decoration: none;
  }

  .portfolio-main img {
    border-radius: 1.25rem;
    width: 100vw;
    height: auto;
    transition: all 0.5s ease-in-out;
  }

  .portfolio-main img:hover {
    transform: scale(1.05);
  }

  .portfolio-main div:nth-child(2) {
    padding-right: 3.75rem;
}

  @media screen and (min-width: 1024px) {

    .load-more {
        font-size: 1.75rem;
    }
    
    .portfolio-big div > .container {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        margin-top: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
      }
    
      .portfolio-main-container {
          margin-right: 6.25rem;
      }

  }

